body {
  margin: 0;
  color: white;
  background-color: #3e3e3e;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Heebo", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  border-bottom: 2px solid white;
  margin: 10px 30px;
}

ul {
  list-style-type: none;
}

#navigation {
  padding: 0;
}

.category-container {
  display: flex;
  margin: 15px 0 0 0;
  padding: 5px 0;
  background-color: #2b2b2b;
  cursor: pointer;
}

.category {
  display: flex;
  align-items: center;
}

i {
  margin: 0 0 0 5px;
}

.category-title {
  margin: 0 0 0 5px;
}

#category-links {
  padding: 0;
  margin: 0 0 0 30px;
}

.link {
  margin: 15px 0 0 0;
}

a {
  color: #00ffff;
}

footer {
  font-size: 0.75rem;
}
