html {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  background-color: #3e3e3e;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "header header"
    "nav main";
  height: 100%;
}

header {
  grid-area: header;
}

h1 {
  font-family: "Heebo", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  border-bottom: 2px solid white;
  margin: 10px 30px;
}

ul {
  list-style-type: none;
}

nav {
  grid-area: nav;
  overflow: scroll;
}

#navigation {
  padding: 0;
}

.category-container {
  display: flex;
  margin: 15px 0 0 0;
  padding: 5px 0;
  background-color: #2b2b2b;
  cursor: pointer;
}

.category {
  display: flex;
  align-items: center;
}

i {
  margin: 0 0 0 5px;
}

.category-title {
  margin: 0 0 0 5px;
}

.link {
  margin: 15px 0 0 0;
}

a {
  color: cyan;
}

main {
  grid-area: main;
  margin: 0 0 0 15px;
}

img {
  max-height: 100%;
  max-width: 100%;
}
