body {
    margin: 0;
    color: white;
    background-color: #3E3E3E;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Heebo", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 2px solid white;
    margin: 10px 30px;
}

ul {
    list-style-type: none;
}

#navigation {
    margin-left: 0;
    padding: 0;
}

.category-container {
    display: flex;
    margin-top: 20px;
}

.category {
    display: flex;
    align-items: center;
    cursor: pointer;
}

i {
    margin-left: 5px;
}

.category-title {
    margin: 0 0 0 5px;
}

a {
    color: cyan;
}